body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240 243 246);
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-logo {
    width: 20%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 60px;
}

.container_two {
    width: 95%;
    height: 350px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
}

.hero {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin: 0 0 20px;
}

.hero__content {
    text-align: left;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input[type="email"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.button--primary {
    background-color: rgb(229, 109, 69);
    color: #fff;
}

.button--primary:hover {
    background-color: rgb(38 105 128);
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.image-container img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.container_success {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_success_two {
    width: 95%;
    height: 150px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
}

.error-message {
    color: red;
    margin-bottom: 20px;
    text-align: center;
}

.container_log {
    width: 95%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
}